**/node_modules
**/node_modules/
**/docs/
**/bin/
**/obj/
**/tmp/
**/global.json
**/Dockerfile*
**/.dockerignore*
**/*.user
# ignore spa build
**/dist
dist
.dockerignore
.env
.git
.gitignore
.gitkeep
.idea
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
*/bin
*/obj
*/.vs
.vs/

# cultural resource assemblies
cs
de
es
fr
it
ja
ko
pl
pt-Br
ru
tr
zh-Hans
zh-Hant
