/* You can add global styles to this file, and also import other style files */

.item-content {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

.empty-state-message-container {
  background-color: inherit;
}

.empty-state-container {
  background-color: inherit;
  position: relative;
  margin: 24px auto;
  width: 300px;
  text-align: center;
}
