<div class="empty-state-container" *ngIf="false">
    <h3>Empty adr display.</h3>
</div>

<div class="scrollable-y fill-container">
    <ul>
        <li>
            <div>
                <button>
                    <mat-icon *ngIf="true">star_border</mat-icon>
                    <mat-icon *ngIf="false">star</mat-icon>
                </button>
            </div>
        </li>

        <li>
            <div>
                <div markdown lineHighlight ngPreserveWhitespaces class="display padding-all-24" [src]="downloadUrl"></div>
                <a class="secondary-action inline-text-action" href="{{htmlUrl}}">You can view the original ADR here.</a>
            </div>
        </li>
    </ul>
</div>
