<div class="empty-state-container" *ngIf="!repos.length">
    <h1>Uh oh, something is missing.</h1>
</div>

<ul class="products-list scrollable-y fill-container padding-all-24" id="products-list">
    <mat-accordion *ngFor="let repo of repos" [multi]="true" class="flex-fill">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header class="panel-header">
                <mat-panel-title class="panel-title">{{repo.neatName}}</mat-panel-title>
                <mat-panel-description class="panel-header">
                    {{repo.element}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="empty-state-container" *ngIf="!repo.numADRs">
                No ADRs have been added to this repository yet.
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</ul>
